@charset "utf-8";
/* CSS Document */
.BT{
	font:bold;
	font:,"Arial Black", Gadget, sans-serif;
	border:#009;
	border:1px;
	border-radius:3px;
	height:25px;
	width:70px;
	background-color:#73B7FF;
	color:#000000;
	font-size:16px;
	border-style:solid;
	cursor:pointer;
	}
	BR{height:25px;}

L{
	font-family:"Arial Black", Gadget, sans-serif;
	color:#000000;
	}
body { 
  background-image:url(Main Website/pic/foxlink2.jpg); 
  background-repeat: repeat; 
}
.Visual-Inspection-textcss-1 {
    /* Size and position */
    position: relative; z-index: 100000;
    width: 135px;
	height:25px;
	margin-left:1px;
	
    /* Styles */
    background:#73B7FF;
    border-radius: 2px;
    border: 1px;
	border-color:#000000;
	border-style:solid;
    box-shadow:#F99
    cursor: pointer;
    outline: none;
    /* Font settings */
    font-weight: bold;
    color:#000000;
}	

.Visual-Inspection-textcss-2 {
    /* Size and position */
    position: relative; z-index: 100000;
    width: 140px;
	height:25px;
	margin-left:1px;
	
    /* Styles */
    background:#73B7FF;
    border-radius: 2px;
    border: 1px;
	border-color:#000000;
	border-style:solid;
    box-shadow:#F99
    cursor: pointer;
    outline: none;
    /* Font settings */
    font-weight: bold;
    color:#000000;
}
.Buttom{
	font:,"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:8px;
	height:50px;
	width:200px;
	background-image:url('images/Measure Data.png');
    background-repeat:no-repeat;
    background-position:top;
	color:#000000;
	font-size:20px;
	font-weight:blod;
	
	}
.Buttom-0 {
	font-size:20px;
	font-family:Arial Black;
	font-weight:normal;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ffffff;
	padding:10px 20px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	background:-ms-linear-gradient( top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-image:url('images/Measure Data.png');
    background-repeat:no-repeat;
    background-position:top;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #9dce2c), color-stop(100%, #8cb82b) );
	background-color:#9dce2c;
	color:#000000;
	display:inline-block;
	text-shadow:-1px 1px 4px #0;
 	-webkit-box-shadow:inset 5px -41px 0px 19px #87e03a;
 	-moz-box-shadow:inset 5px -41px 0px 19px #87e03a;
 	box-shadow:inset 5px -41px 0px 19px #a3ffa3;
}.Buttom:hover {
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	background:-ms-linear-gradient( top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #8cb82b), color-stop(100%, #9dce2c) );
	background-color:#8cb82b;
}.Buttom:active {
	position:relative;
	top:1px;
}

.BT-1{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#FF7573;
	color:#000000;
	font-size:16px;
	cursor:pointer;
	
 	}
 
	
	
.BT-2{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#CCCEF0;
	color:#000000;
	font-size:16px;
	cursor:pointer;
	}

	
.BT-3{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#B9FFB7;
	color:#000000;
	font-size:16px;
	cursor:pointer;
	}
/*.BT-3:hover{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:30px;
	width:165px;
	background-color:#00FF40;
	color:#000000;
	font-size:16px;
	cursor:pointer;
	}	*/
.BT-4{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#FFDD55;
	color:#000000;
	font-size:16px;
	cursor:pointer;
	}
/*.BT-4:hover{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:30px;
	width:165px;
	background-color:#F93;
	color:#000000;
	font-size:16px;
	cursor:pointer;
	}	*/
	
	
.BT-5{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#EEAEEE;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}
/*.BT-5:hover{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:3px;
	width:165px;
	background-color:#C6F;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}	*/
		
.BT-6{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#7573FF;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}
/*.BT-6:hover{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:30px;
	width:165px;
	background-color:#30F;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}*/
		
.BT-7{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#73FDFF;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}
/*.BT-7:hover{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:30px;
	width:165px;
	background-color:#39F;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}	*/
			
.BT-8{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#73B7FF;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}
/*.BT-8:hover{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:30px;
	width:165px;
	background-color:#3366FF;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}	*/
		
.BT-9{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#FF55FD;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}
/*.BT-9:hover{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#BFBFFF;
	border-radius:3px;
	height:30px;
	width:165px;
	background-color:#C0F;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}*/

/*Today Report*/
.BT-11{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#FF9;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#FF9;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}		
.BT-12{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#FF9;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#ECCCF4;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}
.BT-13{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#FF9;
	border-radius:3px;
	height:50px;
	width:165px;
	background-color:#FC6;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}			
.BT-14{
	font-family:"Arial Black", Gadget, sans-serif;
	border:#FF9;
	border-radius:3px;
	height:50px;
	width:165px;
	background:#FFC4C4;
	color:#000000;
	font-size:16px;
	cursor: pointer;
	}			
		